<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- xmlns:th="http://www.thymeleaf.org" --><!-- xmlns:th="http://www.w3.org/1999/xhtml" -->
<head> <!--th:replace="front/_fragment :: head(~{::title})"-->
    <meta charset="UTF-8">
    <!--响应式设计-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档-落叶无痕</title>
    <link rel="shortcut icon" href="../image/favicon.ico" th:href="@{/image/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <!--引用外部css样式-->
    <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
    <!--炫酷的jQuery时间轴插件-->
    <!--<link rel="stylesheet" href="../lib/jQuery-Timelinr/timelinr.css" th:href="@{/lib/jQuery-Timelinr/timelinr.css}">-->
</head>
<body>
    <!--超酷炫粒子背景容器-->
    <!--<div id="particles-js" style="height: 25%"></div>-->

    <!--导航栏-->
    <nav th:replace="front/_fragment :: menu(4)"></nav>

    <!--GitHub角标-->
    <a href="https://github.com/CD4356" target="_blank" class="ui large red left corner rounded label cd-github-fixed cd-github-shadow">
        <i class="ui github icon" style="color: rgb(0,0,0);size: 2em"></i>
    </a>

    <!--中间内容-->
    <div class="cd-container-small cd-margin-big cd-pended-tb-big">
        <div class="ui container">
            <!--归档head-->
            <div class="ui green top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="ui column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header cd-inline-block" th:text="${blogCount}"> 14 </h2> 篇
                    </div>
                </div>
            </div>
            <div th:each="item : ${blogArchive}">
                <h3 class="ui center aligned header cd-margin-top" th:text="${item.key}">2020</h3>
                <!--分类文章列表-->
                <div class="ui fluid vertical menu animated lightSpeedIn piled raised segment" th:each="blog : ${item.value}">
                    <a href="" th:href="@{/blog/{id}(id=${blog.blogId})}" target="_blank" class="item">
                        <b>
                            <span>
                                <i class="ui teal circle icon small"></i> <span th:text="${blog.title}" class="cd-font"> MySQL一对多和多对多分组查询</span>
                                <div class="ui gray basic label left pointing mini cd-font" th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}">2020-03-17</div>
                            </span>
                        </b>
                        <span class="ui orange small label right aligned large cd-font" th:classappend="${blog.flag=='原创'} ? orange : green" th:text="${blog.flag}">文章标识</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div><br><br><br><br><br></div>

    <!--脚部-->
    <footer th:replace="front/_fragment :: footer"></footer>

    <!--共用的script片段-->
    <th:block th:replace="front/_fragment :: script"></th:block>
</body>
</html>