<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"> <!-- xmlns:th="http://www.thymeleaf.org" --><!-- xmlns:th="http://www.w3.org/1999/xhtml" -->
<head th:replace="front/_fragment :: head(title='搜索-落叶无痕')"></head>
<body>
    <!--超酷炫粒子背景容器-->
    <!--<div id="particles-js"></div>-->

    <!--导航栏-->
    <nav th:replace="front/_fragment :: menu(0)"></nav>

    <!--GitHub角标-->
    <a href="https://github.com/CD4356" target="_blank" class="ui large red left corner rounded label cd-github-fixed cd-github-shadow">
        <i class="ui github icon" style="color: rgb(0,0,0);size: 2em"></i>
    </a>

    <!--中间内容-->
    <div class="ui cd-container-small cd-margin-big cd-pended-tb-big">
        <div class="ui container">
            <!--分类标签head-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="ui column">
                        <h3 class="ui black header cd-font"><b>搜索结果</b></h3>
                    </div>
                    <div class="right aligned column cd-font">
                        共 <h2 class="ui orange header cd-inline-block" th:text="${pageInfo.total}"> 14 </h2> 篇
                    </div>
                </div>
            </div>

            <!--分类文章列表-->
            <div class="ui attached cd-margin-top segment">
                <!--每篇文章-->
                <div th:each="blog : ${pageInfo.list}" class="ui vertical segment cd-padded-large cd-mobile-padded-lr-responsive animated zoomInUp">
                    <!--文章标题-->
                    <h3 class="ui header">
                        <a href="" target="_blank" class="cd-black text-overflow" th:href="@{/blog/{id}(id=${blog.blogId})}" th:text="${blog.title}">文章标题</a>
                    </h3>

                    <div class="ui stackable grid">
                        <!--文章首图-->
                        <span class="ui four wide column cd-mobile-hide img-box">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.blogId})}" target="_blank">
                                        <img src="#" th:src="@{${blog.firstPicture}}" class="ui image">
                                    </a>
                                </span>

                        <!--文章描述-->
                        <div class="twelve wide column stackable">
                            <!--文章描述-->
                            <span class="ui cd-desc cd-desc-text stackable" style="margin-top: 10px !important;" th:text="${blog.description}">文章描述</span>
                            <div class="ui stackable" style="margin-top: 33px !important;">
                                <img th:src="@{/image/athor.png}" class="ui avatar image">
                                <a href="" th:href="@{/blog/{id}(id=${blog.blogId})}" target="_blank"><span class="cd-black" th:text="${blog.user.nickName}">海底世界</span></a>
                                <span>&nbsp;|&nbsp;</span>
                                <span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd hh:mm')}">2020-02-18</span>
                                <span>&nbsp;|&nbsp;</span>
                                阅读数 <span th:text="${blog.views}">浏览次数</span>

                                <a href="" class="ui right floated mini blue button" th:href="@{/blog/{id}(id=${blog.blogId})}" target="_blank">
                                    阅读更多
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--分页-->
        </div>
    </div>

    <div><br><br><br><br></div>

    <!--脚部-->
    <footer th:replace="front/_fragment :: footer"></footer>

    <!--共用的script片段-->
    <th:block th:replace="front/_fragment :: script"></th:block>
</body>
</html>