<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- xmlns:th="http://www.thymeleaf.org" --><!-- xmlns:th="http://www.w3.org/1999/xhtml" -->
<head>
    <meta charset="UTF-8">
    <!--响应式设计-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>插件-落叶无痕</title>
    <!--网站图标-->
    <link rel="shortcut icon" href="../image/favicon.ico" th:href="@{/image/favicon.ico}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
    <!--引用外部css样式-->
    <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
</head>
<body>
    <!--超酷炫粒子背景容器-->
    <!--<div id="particles-js" style="height: 25%"></div>-->

    <!--导航栏-->
    <nav th:replace="front/_fragment :: menu(5)"></nav>

    <!--GitHub角标-->
    <a href="https://github.com/CD4356" target="_blank" class="ui large orange left corner rounded label cd-github-fixed cd-github-shadow">
        <i class="ui github icon" style="color: rgb(0,0,0);size: 2em"></i>
    </a>

    <!--中间内容-->
    <div class="cd-container-small cd-margin-big cd-pended-tb-big">
        <div class="ui container ">
            <div class="ui stackable grid">
                <!--11列-->
                <div class="ui ten wide column cd-font animated slideInUp">
                    <div class="ui teal attached segment">
                        <div class="ui horizontal divider">
                            <a href="https://semantic-ui.com/" target="_blank" class="markdown">semantic ui前端ui库</a>
                        </div>
                    </div>

                    <br>
                    <div class="ui orange basic attached segment">
                        <div class="ui horizontal divider">markdown编辑器</div>
                        <div class="ui horizontal divider">
                            <a href="http://editor.md.ipandao.com/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui blue basic attached segment">
                        <div class="ui horizontal divider">typo.css内容排版</div>
                        <div class="ui horizontal divider">
                            <a href="https://github.com/sofish/typo.css" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    github-演示-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui green basic attached segment">
                        <div class="ui horizontal divider">Animate.css酷炫动画</div>
                        <div class="ui horizontal divider">
                            <a href="https://daneden.github.io/animate.css/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                            <a href="http://www.animate.net.cn/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    http://www.animate.net.cn/
                                </div>
                            </a>
                            <a href="http://www.jq22.com/jquery-info819" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    http://www.jq22.com/jquery-info819
                                </div>
                            </a>
                            <a href="https://www.dowebok.com/98.html" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    https://www.dowebok.com/98.html
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui pink basic attached segment">
                        <div class="ui horizontal divider">prism代码高亮</div>
                        <div class="ui horizontal divider">
                            <a href="https://prismjs.com/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                            <a href="https://github.com/prism/Prism" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    GitHub-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui purple basic attached segment">
                        <div class="ui horizontal divider">tocbot目录生成</div>
                        <div class="ui horizontal divider">
                            <a href="https://tscanlin.github.io/tocbot/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui purple basic attached segment">
                        <div class="ui horizontal divider">qrcode.js二维码生成</div>
                        <div class="ui horizontal divider">
                            <a href="https://davidshimjs.github.io/qrcodejs/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui purple basic attached segment">
                        <div class="ui horizontal divider">waypoints滚动侦测-</div>
                        <div class="ui horizontal divider">
                            <a href="http://imakewebthings.com/waypoints/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui purple basic attached segment">
                        <div class="ui horizontal divider">jquery.scrollTo平滑滚动</div>
                        <div class="ui horizontal divider">
                            <a href="https://github.com/flesler/jquery.scrollTo" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    github-下载
                                </div>
                            </a>
                            <a href="http://demos.flesler.com/jquery/scrollTo/" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    官网-演示-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui purple basic attached segment">
                        <div class="ui horizontal divider">particles.js超炫粒子背景</div>
                        <div class="ui horizontal divider">
                            <a href="https://github.com/VincentGarreau/particles.js" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    github-教程-下载
                                </div>
                            </a>
                        </div>
                    </div>

                    <br>
                    <div class="ui purple basic attached segment">
                        <div class="ui horizontal divider">live-2d看板娘</div>
                        <div class="ui horizontal divider">
                            <a href="https://www.cnblogs.com/vuciao/p/10687199.html" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    使用教程1
                                </div>
                            </a>
                            <a href="https://blog.csdn.net/qq_26024785/article/details/100796732" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    使用教程2
                                </div>
                            </a>
                            <a href="https://blog.csdn.net/u012931864/article/details/83054822" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    看板娘一览图
                                </div>
                            </a>
                            <a href="https://l2dwidget.js.org/docs/class/src/index.js~L2Dwidget.html#instance-method-init" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    初始化参数配置项
                                </div>
                            </a>
                            <a href="https://github.com/EYHN/hexo-helper-live2d" target="_blank">
                                <div class="ui column segment cd-padded-min cd-margin-small">
                                    github
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--脚部-->
    <footer th:replace="front/_fragment :: footer"></footer>

    <!--共用的script片段-->
    <th:block th:replace="front/_fragment :: script"></th:block>
</body>
</html>